<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tutorial 3 - input</title>
    <link rel="stylesheet" href="../assets/css/base.css">
</head>
<body>
    <p>Keyborad</p>
    <p id="keycode"></p>
    <p>Mouse</p>
    <p id="mousecode"></p>
    <p>Mouse Position</p>
    <p id="mouse-position"></p>
    <p id="mouse-wheel"></p>
    <script type="text/javascript" src="../assets/js/tutorial_3.js"></script>
</body>
</html>